@use 'sass:math';

.main-app {
  background: #f00;
  position: relative; // anchor for .talking-head

  > .talking-head {
    background: url(/assets/images/head.png) no-repeat;
    height: percentage(math.div(697px, $orig-height));
    left: percentage(math.div(128px, $orig-width));
    position: absolute;
    top: percentage(math.div(23px, $orig-height));
    width: percentage(math.div(779px, $orig-width));
  }
}
