@use 'sass:math';

.main-app {
  background: #f00;
  position: relative; // anchor for .talking-head

  > .talking-head {
    height: percentage(math.div($head-height, $orig-height));
    left: percentage(math.div(128px, $orig-width));
    position: absolute;
    top: percentage(math.div(23px, $orig-height));
    width: percentage(math.div($head-width, $orig-width));
  }
}
