@use 'sass:math';

@charset 'UTF-8';

@import 'sass-rem/_rem';
@import 'bootstrap-reboot';
@import '@fiskhandlarn/revenge.css';

@import 'mixins/visually-hidden';

@import 'settings/variables';

@import 'components/b-button';
@import 'components/button-list';
@import 'components/main-app';
@import 'components/talking-head';
@import 'components/talking-mouth';

// disable revenge.css for bootstrap-responsiveHelper extension
.ff-ext--bootstrapResponsiveHelper { // stylelint-disable rscss/class-format
  > :empty:not(script):not(input):not(br):not(img):not(link):not(hr):not(embed):not(area):not(command):not(col):not(param):not(source):not(track):not(wbr):not(base):not(keygen):not(span)::after { // stylelint-disable-line selector-type-no-unknown
    display: none !important; // stylelint-disable-line declaration-no-important
  }
}

body,html {
  height: 100%;
  min-height: 100vh;
}

body {
  background: #f60;

  // https://stackoverflow.com/a/70283241
  display: grid;
  margin: 0;
  min-height: 100vh;
  place-content: center;

  > .container {
    aspect-ratio: #{$orig-width} / #{$orig-height};
    position: relative; // anchor for .main-app
    width: min(math.div($orig-width, $orig-height) * 100vmin, 100vw);

    > .main-app {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
